@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins:wght@300&display=swap");
.Home {
  width: 100%;
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home h1 {
  font-size: 36px;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 120px 0px 20px 0px;
}

.Home .rose-logo {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-card {
  width: 350px;
  height: 350px;
  -webkit-box-shadow: 5px 10px #f4f4f4;
          box-shadow: 5px 10px #f4f4f4;
  border: 1.5px solid #e4e4e4;
  border-radius: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 50px;
  margin-top: 150px;
}

.home-card img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 30px;
}

.home-card .home-panel-img {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}

.home-card p {
  font-size: 18px;
  text-align: center;
}

.home-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f87d92;
}

nav .logo {
  margin-left: 30px;
  width: 80%;
  font-size: 18px;
}

nav .nav-links {
  margin-right: 30px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  color: #f4f4f4;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */